<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518763347413-bh2s9ejnavgroq3leofn305qj0aljodm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518763347413-bh2s9ejnavgroq3leofn305qj0aljodm</string>
	<key>API_KEY</key>
	<string>AIzaSyB_8iye5BOlahLijP9KKJIOFhs_IuTLQKU</string>
	<key>GCM_SENDER_ID</key>
	<string>518763347413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mahmoudalaa.app</string>
	<key>PROJECT_ID</key>
	<string>riverpod-example</string>
	<key>STORAGE_BUCKET</key>
	<string>riverpod-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518763347413:ios:22ff128ea58a1993ce915c</string>
</dict>
</plist>